.form {
  font-size: @font-size;
  line-height: (@line-height + 3);
  font-weight: (@font-weight);
  color:  @text-color-20;
  text-transform: uppercase;
  @media (min-width: 480px) {
        padding: 0 10%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
  }
}
.form-block {
  padding: 19px 20px;
  border-top: 1px solid @border-color-form;
  @media (min-width:480px){
    padding: 5% 0;
    margin-top: 0;
  }
  &__title {
    margin-bottom: 20px;
    font-size: @font-size-h2;
    line-height: @line-height-h2;
    font-weight: (@font-weight+300);
    color:  @text-color-h2-000;
    text-align: center;
      @media (min-width:480px) {
        text-align: center;
        font-size: @font-size-heading;
        line-height: @line-height-heading;
        font-weight: (@font-weight+300);
      }
      &--contacts{
        margin-bottom: 29px;
      }
      &--name{
        @media (min-width:480px) and (max-width:768px) {
          text-align: left;
        }
      }
      &--name-tablet{
        display: none;
          @media (min-width:480px) and (max-width:768px) {
          display: block;
        }
        @media (min-width:768px) {
          display: none;
        }
      &--opinion{
        @media (min-width:480px) and (max-width:768px) {
          text-align: left;
        }
        }
      }
      &--name-mobdesctop{
        display: block;
        @media (min-width:480px) and (max-width:768px) {
          display: none;
        }
      }
    }
   &__row {
     margin-bottom: 20px;
     @media (min-width: 480px) {

    }
     @media (min-width:768px) {

    }
     &--name{
      display: flex;
     }
     &--contacts{
        @media (min-width:768px){
          width: 45%;
       }
     }
  }
  &__row:last-child {
    margin-bottom: 0;
  }
  &__text{
    margin-right: 20px;
    height: 58px;
    line-height: 58px;
      &--contacts {
        display: block;
        box-sizing: border-box;
        padding-left: 25px;
        margin-bottom: 15px;
        line-height: 14px;
        height: auto;
          @media (min-width:480px) and (max-width:768px){
            display: inline-block;
            order: 1;
          }
          @media (min-width:768px){
            display: block;
            width: 100%;
            order: 2;
          }
        }
    }
  &__input{
    width: 100%;
    flex-grow: 1;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 20px;
    height: 58px;
    line-height: 58px;
    background-color: @bg-color-form-input;
    border: none;
    font-size: @font-size-input;
    font-weight: (@font-weight+300);
    color:  @text-color-input-000;
      &--contacts{
          @media (min-width:480px) and  (max-width:768px){
            order: 3;
          }
          @media (min-width:768px){
            order: 3;
          }
        }
      }
  &__errow {
    padding-left: 20px;
    margin-bottom: 15px;
    line-height: (@line-height+5);
    color: @text-color-red;
    text-transform: none;
      @media (min-width:480px) and  (max-width:768px){
        display: inline-block;
        order: 2;
        margin-top: -8px;
      }
      @media (min-width:768px){
        display: block;
        order: 1;
      }
    }
  &__textarea {
    box-sizing: border-box;
    padding: 20px 20px;
    margin-bottom: 53px;
    width:100%;
    height: 160px;
    background-color: @bg-color-form-input;
    font-family: "PT Sans", sans-serif;
    color: @text-color-input-000;
    border:none;
    font-size: (@font-size+4);
    line-height: (@line-height+5);
    font-weight: (@font-weight+300);
  }
  &__note{
    height: 58px;
    line-height: 58px;
  }
  &--name {
    @media (min-width:480px) {
      width:45%;
      order: 2;
    }
  }
  &--contacts {
    @media (min-width:480px) {
      width:100%;
      order: 3;
    }
  }
  &--opinion  {
    @media (min-width:480px) {
      width:45%;
      order: 1;
    }
  }
  &--sights {
    @media (min-width:480px) {
      width:100%;
      order: 4;
    }
  }
  &--review {
    @media (min-width:480px) {
      width:100%;
      order: 5;
    }
  }
}
.radio{
  &__input{
    display: none;
  }
   &__opinion{
    display: block;
    height: 56px;
    line-height: 56px;
    font-size: @font-size-h2;
    font-weight: (@font-weight+300);
    text-transform: none;
    }
   &__opinion:before{
    content:"";
    display: inline-block;
    left: 0;
    margin-right: 20px;
    width: 22px;
    height: 22px;
    background-color: @bg-color-form-input;
    border: 17px solid @bg-color-form-input;
    border-radius: 100%;
    vertical-align: middle;
}
    &__input:checked + .radio__opinion:before{
    background-color: @bg-color-radio;
    border: 17px solid @bg-color-form-input;
    }
}
.checkbox{
  &__input[type="checkbox"]{
    display: none;
  }
  &__name{
    display: block;
    box-sizing: border-box;
    height: 56px;
    line-height: 56px;
    text-align: left;
    font-size: @font-size-h2;
    font-weight: (@font-weight+300);
    text-transform: none;
  }
  &__name:before{
    content:"";
    display: inline-block;
    margin-right: 20px;
    width: 56px;
    height: 56px;
    background-color: @bg-color-form-input;
    border-radius: 10%;
    left: 0;
    vertical-align: middle;
  }
  &__input:checked + .checkbox__name:before{
     background: url("../img/icon-tick.png") no-repeat 50% 50%;
     background-color: @bg-color-form-input;
  }
}
.flex{
  @media (min-width:480px){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &--sights{
     @media (min-width:480px){
        display: block;
     }
     @media (min-width:768px){
        display: flex;
     }
  }
}






